/* add your CSS here */

.name{
	border: dashed 2px;
	padding: 1em;
	background-color: grey;
}

img{

	width: 300px;
	border: dashed 2px brown;
	border-radius: 5px;
	padding: 2px 4px 6px 8px;

}

.facts{
	font-style: italic;

}

ul {
  list-style-type: none;
  border: dashed 2px;
  padding: 5px;
}

.label{
	font-weight: bold;
}


.description{
	border: dashed 2px;
	padding: 5% 10%;
}