/* add your CSS here */
.Cards {

	width: 320px;
	border: solid 2px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.name {
	border-top: solid 2px;
	border-bottom: solid 2px;
	padding: 1em;
	background-color: grey;
}

img {

	width: 300px;
	border: dashed 2px brown;
	border-radius: 5px;
	padding: 2px 4px 6px 8px;

}

.data {
	width: 250px;
	border: solid 1px;
	padding: 20px;

}

.facts {
	font-style: italic;
	padding: 25px;

}

ul {
  list-style-type: none;
  
  padding: 20px;
}

.label {
	font-weight: bold;
}


.description {
	
	padding: 5% 10%;
}